/* CSS variables */
:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Epilogue', sans-serif;
    --primary-color: #171E4B; /* dark blue */
    --text-color: #2C2C2C; /* charcoal gray */
    --highlight-color: #3F51B5; /* indigo */
    --background-color: #f0f0f0; /* light gray */
}

/* Global styles */
h1 {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-color);

}

h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

h3 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

h4 {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 2rem;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
}

section {
    padding-bottom: 4rem;
    padding-top: 4rem;
    margin: 0 auto; 
}

/* Colour Map styles */
#colour-map {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.country {
  fill: #b2d1c3; /* grey / green */
  opacity: 0.5;
  transition: fill 0.4s ease, opacity 0.4s ease;
  cursor: default;
}

/* SVG zoom buttons */

.svg-pan-zoom .svg-pan-zoom_controls {
  display: block !important;
  opacity: 1 !important;
}

.svg-pan-zoom-control button {
  display: block;
  width: 2rem;
  height: 2rem;
}

/* Colour highlights */

.highlight-red {
  fill: red !important;
}

.highlight-green {
  fill: green !important;
}

.highlight-yellow {
  fill: yellow !important;
}

.highlight-blue {
  fill: blue !important;
}


.country.active {
  opacity: 1;
  cursor: pointer;
}

